script(src="https://www.google.com/jsapi")
script(src="/javascripts/googlechart.visitors.js")
script(src="/javascripts/googlechart.hotleads.js")
script(src="/lib/jquery/dist/jquery.min.js")
script(src="/javascripts/datacharting.js")