link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/signin.css')
script(src="/bower_componenets/bootstrap/dist/css/bootstrap.min.css")
script(src="/bower_components/underscore/underscore-min.js")
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/d3/d3.min.js")
script(src="/javascripts/data-processing.js")

title= title
h1= title
p Welcome to #{title}