div.nav
  nav.topbar
    form.search-metric
      input.search-field(type="text" placeholder="Search Metric")

  nav.sidebar
    ul.menu
      li
        a(href="/") Dashboard
      li
        a(href="/rr") RR
      li
        a(href="/traffic") Traffic

  div#timestamp_last_generated