doctype html
html(lang="en")
  head
    title #{title}
    script(src="https://www.google.com/jsapi")
    script(src="/javascripts/googlechart.visitors.js")
    script(src="/javascripts/googlechart.hotleads.js")
    script(src="/bower_components/jquery/src/jquery.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/javascripts/datacharting.js")

body
  h1= title
  p Welcome to #{title}
  div#hotleads_div(style="width: 600px; height: 400px;")
  div#visitors_div(style="width: 600px; height: 400px;")
  div.chart(style="font: 10px sans-serif; background-color: steelblue; text-align: right; padding: 3px; margin: 1px; color: white;")
  input#search(type='search', placeholder="Search")
  h2#results
  form#yahoo_data(action='/api')
    label location 
    input#yahoo_location(type='text', name="yahoo_location")
    button#yahoo_submit(type='submit') submit