doctype html
html(lang="en")
  head
    title #{title}
    script(src="https://www.google.com/jsapi")
    script(src="/javascripts/googlechart.visitors.js")
    script(src="/javascripts/googlechart.hotleads.js")

body
  h1= title
  p Welcome to #{title}
  div#hotleads_div(style="width: 600px; height: 400px;")
  div#visitors_div(style="width: 600px; height: 400px;")
  script(src="/javascripts/yahoodata.js")
  script.
      getDataFromYahoo("Sunny Value, CA", "json");
  script.
      request("http://www.google.com", function (error, response, body) {
          if (!error && response.statusCode === 200) {
              console.log(body) // Print the json response
              document.write(body);
          }
      });