doctype html
html
  head
    include ./includes/head
  body(class=bodyClassVar)
    include ./includes/nav
    div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      title= title
      h1= title
      p Welcome to #{title}
      div#timestamp_last_generated
      div#fortest
      block content