extends ../layout

block content
  h1= title
  p Welcome to #{title}
  div#hotleads_div(style="width: 600px; height: 400px;")
  div#visitors_div(style="width: 600px; height: 400px;")

  input#search(type='search', placeholder="Search")
  h2#results

  div#chart-1
  div#chart-2

  div.chart

