extends ../layout

block content
  div#rr_chart(data-source-type="/reg")
    div.line-chart
      div.summary
        p
  div#traffic_chart(data-source-type="/traffic")
    div.bar-chart
      div.tooltip-div
        p.tooltip-text
      div.summary
        p