extends ../layout

block content
  h1= title
  p Welcome to #{title}
  div#hotleads_div(style="width: 600px; height: 400px;")
  div#visitors_div(style="width: 600px; height: 400px;")
  div.chart(style="font: 10px sans-serif; background-color: steelblue; text-align: right; padding: 3px; margin: 1px; color: white;")
  input#search(type='search', placeholder="Search")
  h2#results